.filter
{
    width: 18rem;
     height: 9rem;
     border:none;
}
.filter_btn
{
    background-color: #FC4349;
    border-color: #FC4349;
    border-radius: 0%;
}
.filter_btn:hover
{
    background-color: #FFAC00;
    border-color: #FFAC00; 
}
.filter_item
{
    cursor: pointer;
}