.loginForm
{
    width:30%;
    margin: auto;
    margin-top: 13%;

    border: 2px solid white;
    padding: 25px;
    color:white;
}
.loginForm_btn
{
    background-color: #FFAC00;
    border-color: #FFAC00;
    color: #282B40;
    font-weight: bold;
    margin-left: 40%;
}
.loginForm_btn:hover
{
    background-color: #FC4349;
    border-color: #FC4349;
    color: white;
    font-weight: bold;
    margin-left: 40%;
}